@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Engineer

<h2>Adding machine to an engineer</h2>

<h4>Editing this engineer: @Html.DisplayFor(model => model.Name)</h4>


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to home", "Index")</p>